<app-header></app-header>

<section class="news">
  <h2>Notícias</h2>

  <div class="news-list">
    <!-- <ng-container *ngFor="let news_item of news">
      <a href="news/{{ news_item.id }}">
        <div class="new">
          <img [src]="news_item.imageUrl" alt="news_placeholder" />
          <div class="text">
            <p class="small-text">
              {{ news_item.date | date : "dd 'de' MMMM 'de' yyyy" }}
            </p>
            <h3>{{ news_item.title }}</h3>
            <p>
              {{ news_item.content }}
            </p>
          </div>
        </div>
      </a>
    </ng-container> -->
    <div class="new">
      <img
        src="../../../assets/news/news_placeholder.png"
        alt="news_placeholder"
      />
      <div class="text">
        <p class="small-text">12 de julho de 2023</p>
        <h3>Lorem Ipsum: Novas descobertas revelam segredos antigos</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
          nulla nec mauris vestibulum dictum.
        </p>
      </div>
    </div>

    <div class="new">
      <img
        src="../../../assets/news/news_placeholder.png"
        alt="news_placeholder"
      />
      <div class="text">
        <p class="small-text">28 de setembro de 2023</p>
        <h3>Lorem Ipsum: Estudo sugere conexão entre sono e criatividade</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed
          turpis vel purus suscipit consectetur.
        </p>
      </div>
    </div>

    <div class="new">
      <img
        src="../../../assets/news/news_placeholder.png"
        alt="news_placeholder"
      />
      <div class="text">
        <p class="small-text">4 de novembro de 2023</p>
        <h3>Lorem Ipsum: Nova pesquisa indica avanços na medicina</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus
          felis vel tincidunt cursus.
        </p>
      </div>
    </div>

    <div class="new">
      <img
        src="../../../assets/news/news_placeholder.png"
        alt="news_placeholder"
      />
      <div class="text">
        <p class="small-text">19 de dezembro de 2023</p>
        <h3>Lorem Ipsum: Descoberto novo planeta habitável</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
          fermentum elit in dolor faucibus, a efficitur purus dignissim.
        </p>
      </div>
    </div>

    <div class="new">
      <img
        src="../../../assets/news/news_placeholder.png"
        alt="news_placeholder"
      />
      <div class="text">
        <p class="small-text">8 de fevereiro de 2024</p>
        <h3>Lorem Ipsum: Tecnologia revolucionária promete mudar o mundo</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
          consequat nulla, id interdum tortor.
        </p>
      </div>
    </div>

    <div class="new">
      <img
        src="../../../assets/news/news_placeholder.png"
        alt="news_placeholder"
      />
      <div class="text">
        <p class="small-text">17 de abril de 2024</p>
        <h3>Lorem Ipsum: Artista renomado lança exposição inovadora</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget
          felis ut metus ultrices rhoncus.
        </p>
      </div>
    </div>
  </div>
</section>
