<!-- Call header component -->
<app-header></app-header>

<!-- Small "Introduction" to EPROSEC -->
<section class="go-meet">
  <h2>Vem conhecer!</h2>
  <div class="images">
    <div class="img-wrapper">
      <img
        src="../../../assets/about/eprosec_hallway.jpg"
        alt="eprosec_hallway"
      />
    </div>
    <div class="img-wrapper">
      <img
        src="../../../assets/about/eprosec_outside.jpg"
        alt="eprosec_outside"
      />
    </div>
  </div>
  <h4 class="mission">
    <b>Nossa Missão:</b> Promover o rigor e a excelência do serviço da educação,
    estimulando na comunidade educativa a criatividade, o gosto pelo trabalho,
    cultivando a exigência, a autonomia, através do reforço da participação e da
    responsabilidade.
  </h4>
</section>

<!-- Section explaining what is EPROSEC -->
<section class="we-are dark-section">
  <h2>Nós somos</h2>

  <div class="content">
    <div class="left">
      <img
        src="../../../assets/eprosec_logo_white.png"
        alt="logo monocromático eprosec"
      />
    </div>

    <div class="center">
      <p>
        A EPROSEC, pioneira no ensino profissional nos Açores, mantém seu
        compromisso com a juventude e a qualidade da formação oferecida. Com 30
        anos de história, a escola tem sido fundamental no desenvolvimento
        educativo e profissional dos jovens açorianos. Com uma abordagem
        inovadora, parcerias estratégicas e programas de estágio, a EPROSEC
        prepara os estudantes para o mercado de trabalho. Reconhecida
        nacionalmente, a escola orgulha-se de sua história e continua a moldar o
        futuro dos jovens açorianos, guiada pela excelência e inovação
        educacional.
      </p>
    </div>

    <div class="right">
      <img src="../../../assets/logo_30_anos.png" alt="logótipo 30 anos" />
    </div>
  </div>
</section>

<!-- Section about what EPROSEC has -->
<section class="we-have">
  <h2>Nós temos</h2>

  <div class="content">
    <div class="box">
      <img src="../../../assets/about/auditorio.png" alt="auditorio" />
      <div class="text-wrapper">
        <h4>Auditório com...</h4>
        <p>150 lugares</p>
      </div>
    </div>

    <div class="box">
      <img src="../../../assets/about/salas.png" alt="salas" />
      <div class="text-wrapper">
        <h4>30 Salas de aula</h4>
        <p>incluindo salas de informática</p>
      </div>
    </div>

    <div class="box">
      <img src="../../../assets/about/pavilhao.png" alt="pavilhao" />
      <div class="text-wrapper">
        <h4>Pavilhão gimnodesportivo</h4>
        <p>e polivalente exterior complementar</p>
      </div>
    </div>
  </div>
</section>

<!-- Sections calling to action, and contacts -->
<section class="start-career dark-section">
  <div class="left">
    <h3>Venha começar uma carreira profissional</h3>
    <a href="registration"><button type="button">Começar</button></a>
  </div>

  <div class="right">
    <div class="info">
      <p>
        <b>Telefone:</b> <br />
        296 307 690 <br />
      </p>
      <p>
        <b>Email:</b> <br />
        geral@eprosec.net
      </p>
      <p>
        <b>Morada:</b> <br />
        Rua Manuel Vieira Gaspar, 1
      </p>
    </div>

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12881.418310493795!2d-25.70192211867423!3d37.76823794908!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb432b0c31089f65%3A0xd16f133b09b7b0b5!2sEPROSEC%20-%20Arrifes!5e0!3m2!1spt-PT!2spt!4v1684942645177!5m2!1spt-PT!2spt"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>

<!-- Calls footer component -->
<app-footer></app-footer>
