<app-header></app-header>

<section class="honors">
  <h2>Honras</h2>

  <div class="timeline">
    <div class="year">
      <h3>2023</h3>
    </div>

    <div class="box direction-l">
      <h4 class="date">23 de julho</h4>
      <h4>Lorem Ipsum Dolor Sit Amet</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec
        gravida dolor. Nullam et cursus nisi.
      </p>
    </div>

    <div class="box direction-r">
      <h4 class="date">6 de setembro</h4>
      <h4>Lorem Ipsum Consectetur Adipiscing</h4>
      <p>
        Lorem ipsum consectetur adipiscing elit. Sed eu nulla scelerisque,
        condimentum nunc at, commodo nisl.
      </p>
    </div>

    <div class="box direction-l">
      <h4 class="date">14 de outubro</h4>
      <h4>Lorem Ipsum Nunc At Commodo</h4>
      <p>
        Lorem ipsum nunc at commodo. Nullam eget odio eget ex ullamcorper
        rhoncus.
      </p>
    </div>

    <div class="box direction-r">
      <h4 class="date">28 de novembro</h4>
      <h4>Lorem Ipsum Ullamcorper Rhoncus</h4>
      <p>
        Lorem ipsum ullamcorper rhoncus. Quisque eu orci mattis, efficitur est
        nec, commodo odio.
      </p>
    </div>

    <div class="year">
      <h3>2024</h3>
    </div>

    <div class="box direction-l">
      <h4 class="date">5 de janeiro</h4>
      <h4>Lorem Ipsum Quisque Eu Orci</h4>
      <p>
        Lorem ipsum quisque eu orci. Mauris vulputate est vitae est lobortis
        dictum.
      </p>
    </div>

    <div class="box direction-r">
      <h4 class="date">19 de março</h4>
      <h4>Lorem Ipsum Mauris Vulputate</h4>
      <p>
        Lorem ipsum mauris vulputate. In et tellus sed lacus vulputate maximus.
      </p>
    </div>
  </div>
</section>
