<footer>
  <div class="left">
    <h4>EPROSEC</h4>
    <div class="social-media">
      <a
        href="https://www.facebook.com/EPROSEC.EscolaProfissional/?locale=pt_PT"
        ><img src="../../../assets/icons/facebook.svg" alt="facebook"
      /></a>
      <a href="https://www.instagram.com/eprosec.profissional/"
        ><img src="../../../assets/icons/instagram.svg" alt="instagram"
      /></a>
      <a href="https://www.youtube.com/channel/UCn75AG3ba6s--EhOL3JExCw"
        ><img src="../../../assets/icons/youtube.svg" alt="youtube"
      /></a>
    </div>
    <p class="small-text">Rua Manuel Vieira Gaspar, 1</p>
  </div>

  <div class="center">
    <img src="../../../assets/eprosec_logo_v2.png" alt="eprosec logo" />
  </div>

  <div class="right">
    <p class="small-text">296 307 690</p>
    <p class="small-text">09:00 - 17:45, em dias úteis</p>
    <img src="../../../assets/eprosec_logotipos.png" alt="logotipos" />
  </div>
</footer>
