<!-- Calls header component -->
<app-header></app-header>

<!-- List of the actual courses -->
<section class="courses">
  <h2>Cursos atuais</h2>

  <div class="content">
    <img src="../../../assets/icons/left_arrow.svg" alt="left_arrow" />

    <div class="carousel">
      <div class="box">
        <img
          src="../../../assets/courses/auxiliar_de_saude.png"
          alt="auxiliar_de_saude"
        />
        <h4>Apoio à Gestão</h4>
      </div>

      <div class="box">
        <img
          src="../../../assets/courses/auxiliar_de_saude.png"
          alt="auxiliar_de_saude"
        />
        <h4>Auxiliar de Saúde</h4>
      </div>

      <div class="box">
        <img
          src="../../../assets/courses/agropecuaria.png"
          alt="agropecuaria"
        />
        <h4>AgroPecuária</h4>
      </div>

      <div class="box">
        <img
          src="../../../assets/courses/programador_de_informatica.png"
          alt="programador_de_informatica"
        />
        <h4>Programador/a de Informática</h4>
      </div>

      <div class="box">
        <img
          src="../../../assets/courses/acao_educativa.png"
          alt="acao_educativa"
        />
        <h4>Ação Educativa</h4>
      </div>

      <div class="box">
        <img
          src="../../../assets/courses/auxiliar_de_saude.png"
          alt="auxiliar_de_saude"
        />
        <h4>Comunicação e Serviço Digital</h4>
      </div>

      <div class="box">
        <img
          src="../../../assets/courses/auxiliar_de_saude.png"
          alt="auxiliar_de_saude"
        />
        <h4>Apoio Psicossocial</h4>
      </div>
    </div>

    <img src="../../../assets/icons/right_arrow.svg" alt="right_arrow" />
  </div>
</section>

<!-- New courses -->
<section class="new-courses dark-section">
  <h2>Inscreve-te</h2>

  <div class="content">
    <div class="box">
      <img src="../../../assets/courses/geriatria.png" alt="geriatria" />
      <h4>Geriatria</h4>
    </div>

    <div class="box">
      <img
        src="../../../assets/courses/eletronica_automacao_e_computadores.png"
        alt="eletronica_automacao_e_computadores"
      />
      <h4>Eletrónica, Automação e Computadores</h4>
    </div>

    <a href="courses/details">
      <div class="box">
        <img
          src="../../../assets/courses/apoio_a_gestao.png"
          alt="apoio_a_gestao"
        />
        <h4>Apoio à Gestão</h4>
      </div>
    </a>

    <div class="box">
      <img
        src="../../../assets/courses/acao_educativa.png"
        alt="acao_educativa"
      />
      <h4>Ação Educativa</h4>
    </div>

    <div class="box">
      <img
        src="../../../assets/courses/informacao_e_animacao_turistica.png"
        alt="informacao_e_animacao_turistica"
      />
      <h4>Informação e Animação Turística</h4>
    </div>
  </div>
</section>

<!-- Calls footer component -->
<app-footer></app-footer>
