<app-header></app-header>

<section class="intro">
  <h1>Técnico(a) de Apoio à Gestão</h1>
  <img
    src="../../../../../assets/courses/apoio_a_gestao_full_page.png"
    alt="apoio_a_gestao_full_page"
  />
  <p>
    O <span>Técnico(a) de Apoio à Gestão</span> é um profissional capacitado
    para dar suporte administrativo e operacional em empresas e organizações de
    diferentes setores. Para atuar nessa profissão, é necessário ter uma
    formação técnica ou profissionalizante na área, que ofereça conhecimentos em
    gestão de documentos, atendimento ao cliente, gerenciamento de agenda,
    organização de eventos, elaboração de relatórios, comunicação empresarial,
    contabilidade, finanças, recursos humanos e marketing. O mercado de trabalho
    para essa profissão é amplo, com oportunidades em empresas de diferentes
    tamanhos e segmentos.
  </p>
</section>

<section class="will-learn dark-section">
  <h2>Irás Aprender</h2>
  <ul>
    <li>Estrutura e comunicação organizacional</li>
    <li>Legislação laboral, comercial e administrativa</li>
    <li>Administração das organizações</li>
    <li>Noções e normas de qualidade</li>
    <li>Cálculo financeiro</li>
    <li>Fiscalidade: IRS, IRC e impostos sobre o património</li>
    <li>Noções e práticas de contabilidade</li>
    <li>Aprovisionamento, logística e gestão de stocks</li>
    <li>Aplicações informáticas de gestão - área comercial</li>
    <li>Recursos humanos</li>
    <li>Aplicações de gestão de pessoal</li>
    <li>Marketing</li>
    <li>Projetos de investimento</li>
    <li>Plano de negócio</li>
  </ul>
</section>

<section class="students-say">
  <h2>Nossos formandos dizem...</h2>
  <div class="box-wrapper">
    <div
      class="box"
      style="background: linear-gradient(to bottom, #ff69b4 75px, white 0)"
    >
      <img
        src="../../../../../assets/placeholder_image.png"
        alt="placeholder_image"
      />
      <h4>Maria Silva</h4>
      <p class="small-text">
        "Aprendi muito sobre gestão de documentos, organização de eventos e
        atendimento ao cliente. Consegui uma vaga em uma grande empresa e estou
        trabalhando em um setor que amo."
      </p>
    </div>

    <div
      class="box"
      style="
        background: linear-gradient(to bottom, #1e90ff 75px, transparent 0);
      "
    >
      <img
        src="../../../../../assets/placeholder_image.png"
        alt="placeholder_image"
      />
      <h4>João Sousa</h4>
      <p class="small-text">
        "Aprendi habilidades importantes em comunicação empresarial, finanças e
        recursos humanos, que me ajudaram a conseguir um emprego melhor
        remunerado e com mais possibilidades de crescimento."
      </p>
    </div>

    <div
      class="box"
      style="
        background: linear-gradient(to bottom, #32cd32 75px, transparent 0);
      "
    >
      <img
        src="../../../../../assets/placeholder_image.png"
        alt="placeholder_image"
      />
      <h4>Ana Santos</h4>
      <p class="small-text">
        "Com habilidades em gerenciamento de agenda, elaboração de relatórios e
        contabilidade, consegui uma vaga em uma empresa de marketing digital,
        onde pude colocar em prática tudo o que aprendi na minha formação."
      </p>
    </div>

    <div
      class="box"
      style="
        background: linear-gradient(to bottom, #ffd700 75px, transparent 0);
      "
    >
      <img
        src="../../../../../assets/placeholder_image.png"
        alt="placeholder_image"
      />
      <h4>Carlos Oliveira</h4>
      <p class="small-text">
        "Com conhecimentos em atendimento ao cliente, marketing e recursos
        humanos, consegui me destacar em processos seletivos e atualmente estou
        trabalhando em uma startup de tecnologia, onde tenho a oportunidade de
        aprender e crescer constantemente."
      </p>
    </div>
  </div>
  <a href="registration"><button type="button">Quero inscrever-me</button></a>
</section>

<app-footer></app-footer>
